
.projectCont {
    padding-left: 5px;
    padding-right: 5px;
    /* height: 100%; */
    background-color: black;
    color: red;
}

.projectCont2 {
    padding-left: 5px;
    padding-right: 5px;
    /* height: 100%; */
    background-color: black;

}

.images {
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
}

.CardRow {
    text-align: -webkit-center;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;

}

.card {
    margin-bottom: 10px;    
    margin-top: 20px;
    /* border-radius: 15px; */
    border: 10px solid black;
    box-shadow: 0 0 10px white;
    height: 20rem;
    width: 20rem;
}
.col1 {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center; 
}

.col2 {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center; 
}

.colSolo {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center; 
}
.cardSolo {
    margin-bottom: 10px;    
    margin-top: 20px;
    /* border-radius: 15px; */
    border: 10px solid black;
    box-shadow: 0 0 20px red;
    height: 40rem;
    width: 40rem;
}

.cardSolo:hover {
    box-shadow: 0 0 40px red;
    width: 41rem;
}

.newImages {
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
}

.sectionHead1 {
    padding: 15px;
    background-color: var(--primary);
    font-size: xxx-large;
    color: white;
}

.CardRow1 {
    text-align: -webkit-center;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    background-color: var(--primary);

}

.container1 {
padding: 0px;
padding-left: none;
padding-right: none;
margin: none;
background-color: var(--primary);

}