
.projectCont {
    padding-left: 5px;
    padding-right: 5px;
    /* height: 100%; */
}

.images {
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.CardRow {
    text-align: -webkit-center;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;

}

.card {
    size: 3rem ;
}
.col1 {
    padding: 10px;
    padding-bottom: 30px;  
}