.HeroCont {
    padding: 0px;
    width: 100%;
}

.heroRow {
    padding: 0px;
    justify-content: center;
}

.HeroVid {
    padding-right: 0px;
    padding-left: 0px;
}

#video {
    padding: 0px;
    width: 60rem;
    
}